### With Chi-squared, our H null is always saying that our two categorical variables are independant

other notes:
- We'll feed chi2 runction two series
- output from chi2 rucntion taht we care about is the 'p' value

### Process
1. Set your alpha and state our null hypothesis (chi2 null is there in no relationship between A and B)
    - A and B are independant of one another
    
2. Run an 'observed = pd.crosstab(df.A, df.B)
3. Compare your p to a. If p < a then we reject the null
    - meaning we have evidence supporiting the alternative hypothesis

In [1]:
import pandas as pd
from scipy import stats
from pydataset import data

mpg = data('mpg')
mpg['transmission'] = mpg.trans.str[:-4] # a little cleaning goes a long way
mpg.head()

,manufacturer,model,displ,year,cyl,trans,drv,cty,hwy,fl,class,transmission
1,audi,a4,1.8,1999,4,auto(l5),f,18,29,p,compact,auto
2,audi,a4,1.8,1999,4,manual(m5),f,21,29,p,compact,manual
3,audi,a4,2.0,2008,4,manual(m6),f,20,31,p,compact,manual
4,audi,a4,2.0,2008,4,auto(av),f,21,30,p,compact,auto
5,audi,a4,2.8,1999,6,auto(l5),f,16,26,p,compact,auto

We will investigate the question of whether the cars drive is independent of transmission type.

H
0
: drive is independent of transmission type

In [ ]:
In chi2, we

The Easy Way:

In [9]:
observed = pd.crosstab(mpg.drv, mpg.transmission) # we pass two categorical columns to produce our observed
observed

transmission  auto  manual
drv
4               75      28
f               65      41
r               17       8

In [10]:
chi2, p, defg, expected = stats.chi2_contingency(observed)

In [11]:
print('Observed\n')
print(observed.values)
print('---\nExpected\n')
print(expected)
print('---\n')
print(f'chi^2 = {chi2:.4f}')
print(f'p     = {p:.4f}')

Observed

[[75 28]
 [65 41]
 [17  8]]
---
Expected

[[69.10683761 33.89316239]
 [71.11965812 34.88034188]
 [16.77350427  8.22649573]]
---

chi^2 = 3.1368
p     = 0.2084

## Another Example:

In [12]:
import pandas as pd
from scipy import stats
from pydataset import data
df = data('tips')
df.head()

   total_bill   tip     sex smoker  day    time  size
1       16.99  1.01  Female     No  Sun  Dinner     2
2       10.34  1.66    Male     No  Sun  Dinner     3
3       21.01  3.50    Male     No  Sun  Dinner     3
4       23.68  3.31    Male     No  Sun  Dinner     2
5       24.59  3.61  Female     No  Sun  Dinner     4

In [13]:
# Let's investigate smoking status and day

#null hypothesis= these two variables are independant
#Step One: make a cross tab of two values we care about
observed = pd.crosstab(df.smoker, df.time)
observed

time    Dinner  Lunch
smoker
No         106     45
Yes         70     23

In [17]:
alpha = .05

In [19]:
chi2, p, degf, expected = stats.chi2_contingency(observed)
p

0.4771485672079724

In [20]:
#We don't have any evidence to reject the null hypothesis

### What about gender and day?

In [21]:
#step one: set alpha and define null hypothesis
#H0: gender and day are independant
alpha=.05

In [22]:
#step two: calculate the observed values with a crosstab
observed = pd.crosstab(df.sex, df.day)
observed

day     Fri  Sat  Sun  Thur
sex
Female    9   28   18    32
Male     10   59   58    30

In [23]:
#step 3 run chi2_contigency to get the p value
chi2, p, degf, expected = stats.chi2_contingency(observed)
p

0.004180302092822257

In [25]:
#We have evidence to Reject the Null!
#meaning, gender and day DO seem related to one another

### What about time of day and which day?

In [26]:
#null hypothesis: time and day are independant

In [27]:
observed=pd.crosstab(df.time, df.day)
observed

day     Fri  Sat  Sun  Thur
time
Dinner   12   87   76     1
Lunch     7    0    0    61

In [29]:
chi2, p, degf, expected = stats.chi2_contingency(observed)
p

8.449897551777147e-47

In [30]:
#lots of zeros in front of that 8! (e-47) so we REJECT THE NULL! 
#time & day definitely relate